<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>

<!--lo dejo sin la etiqueta de cierre porque así, si quiero añadir más enlaces específos, es más fácil-->
  
